.button {
    position: absolute;
    right: 0;
    height: 22px;
    width: 60px;
}
.button button {
    height: 100%;
    width: 100%;
    background: transparent;
    border: 1px solid #e67e22;
    color: #e67e22;
    border-radius: 3px;
    outline: none;
    transition: all 0.3s;
}
.button button:active {
    background: #e67e22;
    color: #282c34;
}
.button img{
    height: 100%;
    width: 30px;
}