.button {
   
}
.button  {
    position: absolute;
    right: 0;
    height: 32px;
    width: 60px;
    border-radius: 12px;
background: linear-gradient(145deg, #cf711f, #f68724);
box-shadow:  5px 5px 10px #b1611a, 
             -5px -5px 10px #ff9b2a;;
    color: #e67e22;
    outline: none;
    border: transparent;
    transition: all 0.3s;
    font-family: 'Lemonada', cursive;
}
.button button:active {
    background: #e67e22;
    color: #282c34;
}
.button img{
    height: 100%;
    width: 30px;
}