.button {
   
}
.button  {
    position: absolute;
    right: 0;
    height:30px;
    width: 60px;
    border-radius: 3px;
    border: 1px solid #e67e22;
    background: transparent;
    color: #e67e22;
    outline: none;
    transition: all 0.3s;
    font-family: 'Lemonada', cursive;
    margin-top: 3px;
}
.button:active {
    background: linear-gradient(145deg, #cf711f, #f68724);
    color: #282c34;
}
.button img{
    height: 100%;
    width: 30px;
}