.container {
    display: flex;
    justify-content: space-around;
    height: 100vh;
    padding-top: 30px;
    height: 100vh;
    overflow: hidden;
    overflow-y: hidden;
}
.container-item {
   min-width: 300px; 
   max-height: 80vh;
}
.container-item_center {
    max-width: 500px;
}