.input {
    border: transparent;
    width: 100%;
    box-sizing: border-box;
    height: 30px;
    color: #e67e22;
    padding: 5px;
    font-family: 'Sriracha', cursive;
    font-size: 18px;
}
.input-error {
    border: 2px solid red;
}
.input:focus {
    outline-color: #e67e22;
}
input::-webkit-input-placeholder {
    color: #e67e22;
    padding: 5px;
    font-family: 'Sriracha', cursive;
    font-size: 20px;
}
 