.ingredient-listing {
    max-height: 80vh;
    overflow: scroll;
	overflow-x: hidden;
	padding: 0;
	padding-left: 0;
	position: relative;
}
.ingredient-listing h2{
	color: #e67e22;
	margin-top: 0!important;
	text-align: center;
}
.ingredient-listing::-webkit-scrollbar-thumb {
	border-radius: 3px;
	background-color: #e67e22;
	
}
.ingredient-listing::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 10px;
}
ul{
	margin: 0;
	padding: 0;
	list-style-type: persian;
}
.ingredient-listing ul li {
	transition: all 0.6s;
	font-size: 16px;
	padding: 5px;
	margin-bottom: 3px;
	margin-left: 25px;
}
.fixed {
	position: sticky;
	top: 0;
	left: -20px;
	background:#282c34;
	width: 350px;
	text-align: left!important;
	line-height: 20px;
}
.fixed h2 {
	font-size: 25px;
	margin-bottom: 25px;
	position: relative;
}
.fixed h2:after{
	content: '';
	display: block;
	position: absolute;
	height: 2px;
	width: 50px;
	background:white;
	left: 46%;
	top: 35px;
}
.fixed span {
	color: #e67e22;
	margin-left: 15px;
	font-size: 14px;
	line-height: 10px;
	
}
.ingredient-listing ul li:hover {
	color: #e67e22;
}
.ingredient-listing ul li:active {
	color: black
}