.ingredient-listing {
    max-height: 500px;
    overflow: scroll;
	overflow-x: hidden;
	padding: 0;
}
h2{
	color: #e67e22;
	margin-top: 0!important;
	text-align: center;
}
.ingredient-listing::-webkit-scrollbar-thumb {
	border-radius: 3px;
	background-color: #e67e22;
	
}
.ingredient-listing::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 10px;
}
ul{
	margin: 0;
	padding: 0;
}
.ingredient-listing ul li {
	transition: all 0.6s;
	list-style-type: armenian;
}
.ingredient-listing ul li:hover {
	color: #e67e22;
}
.ingredient-listing ul li:active {
	color: black
}