.non-coctail {
    max-width: 500px;
    color: #3498db;
    border: 2px solid #3498db;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
}
.alco-coctail {
    max-width: 500px;
    border: 2px solid #e74c3c;
    color: #e74c3c;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
}
.coctail {
    font-size: 18px;
}
.minimize {
    max-width: 500px;
    border: 2px solid white;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
}
.title {
    text-align: center;
    margin-bottom: 15px;
}

.non-alco {color: #3498db}
.alco  {color: #e74c3c;}

h4{
    margin: 0;
}
h2{
    margin: 10px;
}
.instructions{
    text-align: center;
}
.image img{
    border-radius: 4px;
}

.coctail img {
    width: 90%;
    height: auto;
}
.visual {
    display: flex;
    justify-content: space-around;
}
.visual_item{
    width: 50%;
    text-align: center;
}
.visual_item p{
    text-align: left;
    transition: all 0.6s;
    margin: 5px;
}
.visual_item p:hover {
	color: #e67e22;
}
.visual_item p:active {
	color: black
}
ul{
    list-style-type: none;
    text-align: left;
}




@keyframes alcoanim {
    from {  transform: translateX(-5px);}
    to { transform: translateX(5px); }
   }