.coctail {
    max-width: 500px;
    border: 2px solid white;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
}
.title {
    text-align: center;
}
h4{
    margin: 0;
} 
.coctail img {
    width: 90%;
    height: auto;
}
.visual {
    display: flex;
}
.visual_item{
    width: 50%;
} 